<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <title>青只课堂</title>
  <!-- 解决sb的华为自带的sb腾讯x5内核的浏览器白屏问题 -->
  <script src="./assets/js/babel-polyfill/polyfill.min.js"></script>
</head>

<body>
  <div class="wrapper" id="root"></div>
</body>
</html>